extends ../layout

block content
  h4.text-uppercase Asset History
  table.table.table-bordered.datatable.align-middle#historyTable
    thead.table-secondary.text-uppercase
      tr
        th(width=100).text-center S.no
        th Asset Name
        th Action
        th Description
        th(width=100) Date
    tbody
      each record in history
        tr
          td.text-center= record.s_no
          td= record.asset ? record.asset.name : "N/A"
          td
            span.text-uppercase.badge(class=record.action === 'issued' ? 'bg-success' : 'bg-danger')= record.action
          td= record.description || "No description available" 
          td= record.actionDate ? new Date(record.actionDate).toLocaleDateString() : "N/A"
  script.
    $(document).ready(function() {
      $('#historyTable').DataTable({
        responsive: true, // Enable responsive design
        paging: true, // Enable pagination
        searching: true, // Enable search functionality
        ordering: true // Enable column sorting
      });
    });
