extends ../layout

block content
  header.d-flex.justify-content-between.mb-1
    div 
        h4.text-uppercase Returned Asset
    button.btn.btn-primary(type='button', data-bs-toggle='modal', data-bs-target='#returnModal',disabled=issuedAssets.length === 0) + Return Asset

  table#returnTable.table.table-bordered.align-middle
    thead.text-uppercase.table-secondary
      tr
        th(width=100).text-center S.no
        th Asset Name
        th Returned By
        th Reason
        th(width=150) Date
    tbody
      each returned in returnedAssets
        tr
          td.text-center= returned.s_no
          td= returned.asset ? returned.asset.name : "N/A"
          td= returned.employee ? returned.employee.name : "N/A"
          td= returned.description
          td(width=150)= returned.actionDate ? new Date(returned.actionDate).toLocaleDateString() : "N/A"

  include ./return-modal

  script.
    $(document).ready(function() {
      $('#returnTable').DataTable();
    });
